h5:before{
    content: "";
    width: 13rem;
    height: 2px;
    display: block;
    background: rgba(128, 128, 128, 0.445);
    position: absolute;
    top: 27.5%;
    left: 32rem;
} 
h5:after{
    content: "";
    width: 13rem;
    height: 2px;
    display: block;
    background: rgba(128, 128, 128, 0.418);
    position: absolute;
    top: 27.5%;
    right: 32rem;
} 